{% extends "base.html" %}


{% block head_title %}
<title>{{ title }}</title>
{% endblock head_title %}


{% block content %}
<section>
<div class="container">
    <div class="row">
        <div class="col-12">
            {% include "articles/includes/category_and_tags.html" %}
            <h1 class='text-center mb-3 mt-2'>{{ article.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>{{ article.content|linebreaks }}</p>
        </div>
    </div>
</div>
</section>
{% endblock content %}