{% extends "base.html" %}


{% block head_title %}
<title>{{ title }}</title>
{% endblock head_title %}


{% block content %}
<section>
<div class="container">
    {% include "includes/header.html" %}

    <div class="row">
        <div class="col-12 text-center">
            <div class="create-article">
            <form action="" method="post" enctype="multipart/form-data">
                {% include "includes/post_form.html" %}
            </div>
                <button class="btn btn-primary mt-2" type="submit">Создать статью</button>
            </form>
        </div>
    </div>
</div>
</section>
{% endblock content %}