{% extends "base.html" %}


{% block head_title %}
<title>{{ title }}</title>
{% endblock head_title %}


{% block content %}
<section>
<div class="container">
    {% include "includes/header.html" %}

    <div class="row">
        <div class="col-12 text-center">
            <form action="" method="post">
                {% csrf_token %}
                <button class="btn btn-danger mt-2" type="submit">Удалить статью</button>
            </form>
        </div>
    </div>
</div>
</section>
{% endblock content %}