{% extends "base.html" %}


{% block head_title %}
    <title>{{ title }}</title>
{% endblock head_title %}


{% block content %}
<section>
<div class="container">
    {% include "includes/header.html" %}

    <div class="row">
        <div class="col-12 text-center">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary mt-1" type="submit">Сбросить пароль</button>
            </form>
        </div>
    </div>
</div>
</section>
{% endblock content %}
