{% extends "base.html" %}


{% block head_title %}
<title>{{ title }}</title>
{% endblock head_title %}


{% block content %}
<section>
<div class="container">
    {% include "includes/header.html" %}

    <div class="row">
        <div class="col-12 text-center">
            <form action="" method="post">
                {% include "includes/post_form.html" %}
                <button class="btn btn-primary mt-2" type="submit">Изменить данные</button>
            </form>
            <div class="line1"></div>
            <a href="{% url 'users:password_change' %}">Изменить пароль</a>
        </div>
    </div>
</div>
</section>
{% endblock content %}